{% extends 'app_marketplace/base.html' %}
{% block title %}Feed de Compras{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <!-- Feed de Eventos -->
      {% for evento in eventos %}
        <div class="card mb-4 shadow-sm border-0">
          <div class="card-body">
            <h5 class="card-title">{{ evento.titulo }}</h5>
            <p class="card-text text-muted">{{ evento.descricao }}</p>
            <div class="d-flex justify-content-between">
             <small class="text-muted">por {{ evento.personal_shopper.user.username }}</small>
              <form method="post" action="{% url 'solicitar_evento' evento.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-sm btn-primary">Solicitar participação</button>
              </form>
            </div>
          </div>
        </div>
      {% empty %}
        <p class="text-muted text-center">Nenhum evento publicado ainda.</p>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
